# VS Code settings
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# C++ build files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build/ 